body {
    position: relative;
    text-align: center;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

/* Background blur tambahan */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center center/cover;
    filter: blur(5px) brightness(0.7);
    z-index: 0;
}

/* Elemen utama di depan */
canvas,
.info,
h1 {
    position: relative;
    z-index: 2;
}

/* Canvas game */
canvas {
    border: 2px solid black;
    background: rgba(171, 180, 171, 0.523);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/* Tombol utama */
button {
    padding: 10px 16px;
    background-color: rgba(171, 180, 170, 0.560);
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
    color: wheat;
}

/* Info panel */
.info {
    margin: 10px;
}

.highScore {
    font-size: 18px;
    color: gold;
    margin-top: 5px;
    text-shadow: 1px 1px 2px black;
}

body {
    background: linear-gradient(to bottom right, #000000, #1a1a1a);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


/* Hover efek */
button:hover {
    background-color: red;
    color: rgb(233, 223, 223);
}